.summaryButton{
    margin: 5px;
  border: none;
  outline: none;
  background-color: #05386b !important;
  color: white;
  border-radius: 5px;
  padding: 5px 15px;
  transition: all 0.5s ease-in-out;
  position: inline-block;
  
}
.summaryButton:hover {
    background: #edf5e1 !important;
    color: black;
  }

.summaryTitle{
    font-size: 30px;
    font-weight: 600;
    line-height: 1.24;
    color: black;
    z-index: 10;
    margin: 0;
}

.buttonHolder{
    padding-top:1em;
}